body {
	background-color: #1B83F2;
		color:  #00FF11;
		font-size: 150%;
		font-family: 'Chewy', cursive;
	}
	.Text {Text-align:center;
	}
	
	h1 {
		Text-align: center;
		font-size: 200%;
	}
	
	h2, h3, h4 { 
	Text-align: center;
	color:#F2FF00;
	}
	img {
			display: block;
			margin:0 auto;
			width: 50%;
			height: auto;
}
h4{
		color:#E8E800;
}

h1{
	color:#FF002F;
}
iframe {
		display: block;
		margin:0 auto;
}
.Disclaimer{
	color:#8400FF;
}
